{% extends "base.html"%}

{% block title %}Edit Post{% endblock %}

{% block hello %} 
<h3>You logged in as {{ user }} </h3> 
<a href="/blog/logout">Logout</a>
{% endblock %}

{% block content %}
<div class="container">
  {% if isComment == 0 %}
    <h2>Edit Post</h2>
  {% else %}
    <h2>Edit Comment</h2>
  {% endif %}
</div>  

<div class="container">
  <form method="post">
    <table>
      {% if isComment == 0 %}
      <tr>
        <td class="label">
          Edit post subject: 
        </td>
        <td>
          <input type="text" name="subject" value="{{ subject }}">
        </td>
        <td class="error">
          {{ err_subject }}
        </td>
      </tr>
      {% endif %}

      <tr>
        <td class="label">
          {% if isComment == 0 %}
            Edit post text: 
          {% else %}
            Edit comment:
          {% endif %} 
        </td>
        <td>
          <textarea name="content" style="height: 100px; width: 400px;">{{ content }}</textarea>
        </td>
        <td class="error">
          {{ err_post }}
        </td>
      </tr>
    </table>
    <input type="submit" value="Publish">
  </form>
</div>  
<div class="container">
  <a href="/blog">Go to main page</a>
  <br><br>
</div>  
{% endblock %}