{% extends "blog.html"%}

{% block postcontent %}
  <div class="container-right">
    <a href="/blog/newpost">
        <div class="button">New Post</div>
    </a>
  </div>
  <div class="line"></div>
  
  {% for post in posts %}

    <div class="post container">
      
      <a href="/blog/{{ post.key().id()}}" class="post-subject">{{ post.subject }}</a>

      <div class="post-content">
        {{ post.content }}
      </div>

      <div class="post-attr">
      Created:  {{ post.created }}
      </div>

      <div class="post-attr">
      Last edited:  {{ post.last_edited }}
      </div>

      <div class="post-attr">
      Author:  {{ post.author }}
      </div>

      {% if user != "Anonymous" %}

      <a href="/blog/newpost/{{ post.key().id() }}">
        <div class="button">Comment</div>
      </a>

        {% if post.author == user %}
          <a href="/blog/edit/{{ post.key().id() }}">
            <div class="button">Edit</div>
          </a>

          <a href="/blog/delete/{{ post.key().id() }}">
            <div class="button">Delete</div>
          </a>
        {% endif %}

      {% endif %}

      <div class="line"></div>
    </div>

  {% endfor %}

  <div class="container-right">

    {% if page > 1 %}

      <a href="/blog?page={{ page - 1 }}">
        <div class="small-button"> &lt </div>
      </a>

    {% endif %}

      <p>Page: {{ page }}</p>
      <a href="/blog?page={{ page + 1 }}">
        <div class="small-button"> &gt </div>
      </a>
  </div>

{% endblock %}