{% extends "base.html"%}

{% block title %}New Post{% endblock %}

{% block hello %} 
<h3>You logged in as {{ user }} </h3> 
<a href="/blog/logout">Logout</a>
{% endblock %}

{% block content %}

<a href="/blog">Main page</a> <p> > </p> 
  {% if product_id == 0 %}
<a href="/blog/newpost">New зost</a>
  {% else %}
<a href="/blog/{{ product_id }}">Back to post</a> <p> > </p>
<a href="/blog/newpost">New comment</a> 
    {% endif %}

<div class="container">
  {% if product_id == 0 %}
    <h2>New Post</h2>
  {% else %}
    <h2>New Comment</h2>
  {% endif %}
</div>  

<div class="container">
  <form method="post">
    <table>
      {% if product_id == 0 %}
      <tr>
        <td class="label">
          Post subject: 
        </td>
        <td>
          <input type="text" name="subject" value="{{ subject }}">
        </td>
        <td class="error">
          {{ err_subject }}
        </td>
      </tr>
      {% endif %}

      <tr>
        <td class="label">
          {% if product_id == 0 %}
          Post text: 
          {% else %}
          Comment:
          {% endif %}
        </td>
        <td>
          <textarea name="content" style="height: 100px; width: 400px;">{{ content }}</textarea>
        </td>
        <td class="error">
          {{ err_post }}
        </td>
      </tr>
    </table>
    <input type="submit" value="Publish" class="button">
  </form>
</div>  
{% endblock %}